.game-wrap {
  padding-left: 100px;
  padding-right: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.chat {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}

.room {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;

  &-info {
    position: absolute;
    left: 20px;
    top: 10px;

    h2 {
      margin-bottom: 0;
    }

    p {
      font-size: 12px;
    }
  }

  .table {
    width: 40vw;
    height: 44vh;
    background: #f2f1ff;
    border: 18px solid #fff;
    border-radius: 30vh;
    box-shadow: 0px 0px 25px #ddd, 0px 0px 15px inset #ddd;
  }
}

.player-panel {
  height: 30vh;
  background: #f7f6fc;
  box-shadow: 0px -1px 15px #a4a4a4;
  display: flex;

  .player-info {
    position: relative;
    padding: 0 20px;
    width: 200px;

    .avatar {
      position: absolute;
      left: 20px;
      top: 0px;
      width: 160px;
      height: 160px;
      transform: translate(0, -50%);
      border-radius: 50%;
      overflow: hidden;
      border: 2px solid #fff;
      box-shadow: 0 0 10px #ddd;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .change {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
        z-index: -1;
        cursor: pointer;
      }

      &:hover {
        .change {
          opacity: 1;
          z-index: 2;
        }
      }
    }

    h2 {
      margin-top: 100px;
      text-align: center;
    }
  }
}
