.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100px;
  height: 100vh;
  z-index: 2;
  display: flex;
  background: #fff;
  box-shadow: 0px 0px 10px #ddd;
}

.logo-wrap {
  height: 100px;
  width: 100%;
  border-bottom: 3px solid #35495e;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f1ff;

  img {
    width: 60px;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;

  li {
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.logout-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  border-top: 3px solid #35495e;
  background: #f2f1ff;
}
