<div class="chat-wrap">
  <div class="message-list">
    <div class="message-item" *ngFor="let item of messages" [ngClass]="{ own: currentPlayer.id === item.player.id }">
      <div class="player">
        <div class="avatar">
          <img [src]="item.player.photo || './assets/images/avatar.jpg'" alt="player photo" />
        </div>
      </div>
      <div class="message-text">
        <span>{{ item.player.name }}:</span>
        {{ item.text }}
      </div>
    </div>
  </div>
  <div class="message-form">
    <textarea
      name="message"
      [(ngModel)]="messageText"
      placeholder="Enter a message"
      (keypress)="handleKeyPress($event)"
    ></textarea>
    <button mat-icon-button (click)="sendMessage()">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
