.games-wrap {
  position: relative;
  padding: 30px;
  padding-left: 130px;
  height: 100%;

  .create-game-btn {
    position: absolute;
    right: 30px;
    bottom: 30px;
    z-index: 2;
  }
}

.games {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
